@font-face{
	font-family: chunkfive-ex;
	src: url("../fonts/CHUNKFIVE-EX.ttf");
}

@font-face{
	font-family: bookos;
	src: url("../fonts/BOOKOS.ttf");
}

p, .btn-default{
	font-family: Arial;
}

.title, .brothers-brand{
	font-family: chunkfive-ex;
}

.btn-default{
	border: 3px solid #57585A;
	color: #57585A;
	font-weight: bold;
}

.btn-default:hover, .btn-default:focus{
	border: 3px solid #57585A;
	color: #fff;
	background-color: #57585A;
}

.title{
	font-size: 16px;
}

.navbar-nav > li > a{
	font-family: chunkfive-ex;
	font-size: 18px;
}

.navbar-collapse{
	padding: 15px 0px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-custom{
	background-color: #221F1F;
}

.main-text{
    position: absolute;
    top: 180px;
	width: 100%;
}

.main-text > .col-md-12 > .header{
	margin-bottom: 45px;
}

.main-text > .col-md-12 > .header > img{
	width: 350px;
} 

.main-text > .col-md-12 > .content{
	width: 650px;
	margin: 0 auto;
	margin-bottom: 85px;
}

.main-text > .col-md-12 > .content > p{
	line-height: 125%;
	font-size: 21px;
}

.main-text > .col-md-12 > .bottom > p{
	font-size: 12px;
}

.main-text > .col-md-12 > .bottom > img{
	width: 650px;
	margin-top: 40px;
}

#coffee{
	padding-top: 170px;
}

#coffee > .download-section > .container{
	width: 100%;
}

.sub-coffee > .btn{
	font-size: 16px;
	padding: 8px 20px;
}

.carousel-control {
	opacity:0;
    width: 7%;
}

.thumbnail{
	padding:0 0 0 0;
}

.carousel-indicators{
	visibility:hidden;
}

.item_box{
    height:500px;
}
 
.photo-thumb{
    width:100%;
    height:auto;
    float:left; 
    border: thin solid #d1d1d1;
    margin:0 1em .5em 0;
    float:left; 
}

@media (max-width: 991px) {
	.navbar-header{
		margin-bottom: 20px;
	}
	
	.navbar-nav > li > a{
		font-size: 16px;
	}
	
	.navbar-brand{
		margin-left: 71% !important;
	}
	
	.navbar-brand > img{
		padding-left: 20px;
	}
	
	.navbar-custom{
		padding-bottom: 10px;
	}
	
	.title{
		margin-top: 25px;
	}
}

@media (max-width: 768px) {
	.navbar-header{
		margin-bottom: 12px;
	}
	
	.navbar-brand{
		margin-left: 0 !important;
	}
	
	.main-text > .col-md-12 > img{
		height: 80%;
		width: 80%;
	}

	.main-text > .col-md-12 > .header > img{
		width: 50%;
	}
	
	.main-text > .col-md-12 > .content{
		width: 95%;
	}
	
	.main-text > .col-md-12 > .content > p{
		font-size: 18px;
	}
	
	.main-text > .col-md-12 > .bottom > img{
		width: 80%;
	}
}